@model OnlineShopApp.Models.ApplicationUser

@{
    ViewBag.Title = "Panou Admin";
    int index = 0;
}

<h3>@ViewBag.Title</h3>
<hr />
<br/>

<div class="bg-white bg-opacity-75 rounded">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nr. crt</th>
                <th scope="col">Nume</th>
                <th scope="col">Rol Curent</th>
                <th scope="col">Acțiune</th>
            </tr>
        </thead>
        <tbody>        
            @foreach (var user in ViewBag.Users)
            {
                <tr>
                    <td>@(index++)</td>
                    <td>@user.uname</td>
                    <td>@user.role</td>
                    <td>
                        <div class="d-flex">
                            @if(user.role != "Admin") {
                                <form asp-action="Index" asp-controller="Panel" method="post"  style="margin-right: 5px">
                                    <input type="hidden" name="role" value="Admin">
                                            <input type="hidden" name="id" value="@user.Id">
                                    <button  class="btn btn-danger" type="submit">Make Admin</button>
                                </form>
                            }
                            @if (user.role != "Collaborator") {
                                <form asp-action="Index" asp-controller="Panel" method="post" style="margin-right: 5px">
                                        <input type="hidden" name="role" value="Collaborator">
                                        <input type="hidden" name="id" value="@user.Id">
                                        <button  class="btn btn-danger" type="submit">Make Collaborator</button>
                                </form>
                            }
                            @if (user.role != "User") {
                                <form asp-action="Index" asp-controller="Panel" method="post">
                                    <input type="hidden" name="role" value="User">
                                            <input type="hidden" name="id" value="@user.Id">
                                    <button  class="btn btn-danger" type="submit">Make User</button>
                                </form>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>