@{
    ViewBag.Title = "Editare produs";  
}
@model OnlineShopApp.Models.Product

<h3 class="text-center mt-2">@ViewBag.Title </h3>
<hr />

<div class="container mt-1 col-6">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Products",
            method: FormMethod.Post,
            new { enctype = "multipart/form-data", id = Model.Id }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.Title, "Titlu")
                <br />
                @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control"})
                //@Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.Description, "Descriere")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })
                //@Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })

                @Html.LabelFor(m => m.Price, "Preț")
                <br />
                @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control"})
                //@Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger" })

                @Html.LabelFor(m => m.Discount, "Reducere")
                <br />
                @Html.TextBoxFor(m => m.Discount, null, new { @class = "form-control"})

                <label>Selectati categoria</label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.CategoriesList, "Value", "Text"), null, new { @class = "form-control" })

                @Html.Label("Image", "Imagine")
                <br />
                @Html.TextBox("Image", null, new { @class = "form-control", @type="file"})
                <br />
                <div class="d-flex justify-content-center">
                    <a class="btn btn-secondary" asp-area="" asp-controller="Products" asp-action="Show" asp-route-id="@Model.Id" style="margin-right: 10px;">Înapoi afișare produs</a>
                    <button class="btn btn-success" type="submit">Editează produsul</button>
                </div>
            }
</div>
