@{
    ViewBag.Title = "Listă Produse";
    var price = 0.0;
    var id = -1;
}

<br />

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control"placeholder="Search topics or keywords" name="search"value="@ViewBag.SearchString">
        <button class="btn btn-outline-success"type="submit">Search</button>
    </div>
</form>

<br />


<h3>@ViewBag.Title</h3>
<hr />

@if (ViewBag.isAdmin)
{
    <a class="btn btn-success" asp-area="" asp-controller="Products" asp-action="Validate">Validare produse (@ViewBag.UnvalidatedProducts)</a>
}

<form method="get">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sortează după
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><input type="submit" class="dropdown-item" value="Pret ascendent" name="order"/></li>
      <li><input type="submit" class="dropdown-item" value="Pret descendent" name="order" /></li>
      @*<li><input type="submit" class="dropdown-item" value="Rating ascendent" name="order" /></li>
      <li><input type="submit" class="dropdown-item" value="Rating descendent" name="order" /></li>*@

      
    </ul>
  </div>
</form>

<br />

<style>
    p, strong, s{
        margin: 3px 0;
    }
    .product-card{
        width: 24%;
    }
    a, a:hover{
        text-decoration: none;
        color: black;
    }
</style>
<div class="row row-cols-1 row-cols-md-4">
    @foreach (var product in @ViewBag.Products)
    {
        price = product.Price;
        <div class="col mb-4">
           <div class="card">
               <div style="position: relative">
                    <img class="card-img-top" alt="Product image" style="height: 350px;" src="@Url.Content(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(product.Image)))">
                    @if (product.Discount > 0)
                    {
                        <strong class="text-danger m-0" style="position: absolute;  top: 8px; left: 8px; padding: 2px; background-color: rgba(0, 0, 0, 0.8)">REDUCERE -@(product.Discount*100)%</strong>
                    }
              </div>
              <div class="d-flex flex-column justify-content-center text-center">
                        <h5 class="card-title mt-1">@product.Title</h5>
                    @foreach (var rating in @ViewBag.AverageRating)
                    {
                        id = rating.ProductId;
                        @if(id == product.Id)
                        {
                            <h7>@Math.Round(rating.AverageRating, 2)/5 <i class="bi bi-star-fill"></i></h7>
                        }
                    }
                    <div class="d-flex flex-row justify-content-around">
                        @if(product.Discount > 0){
                            <s class="text-secondary" style="font-size: 0.9rem;">@String.Format("{0:0.00}", @product.Price) RON</s>
                            price -= price * product.Discount;
                        }
                        <strong class="text-success">@String.Format("{0:0.00}", @price) RON</strong>
                    </div>
                    <p>Categorie: @product.Category.CategoryName</p>
                    <p>Vândut de către @product.User.UserName</p>
                    <a class="btn btn-secondary my-2" style="width: 70%; margin: auto" href="/Products/Show/@product.Id">Afișare produs</a>
               </div>
            </div>
        </div>
    }
</div>