@model OnlineShopApp.Models.Comment


@{
    ViewBag.Title = "Editare recenzie";
}


<h3 class="text-center mt-2">@ViewBag.Title </h3>
<hr />

<div class="container mt-1 col-6">
    @using (Html.BeginForm(controllerName: "Comments", actionName: "Edit",
           method: FormMethod.Post, routeValues: new { id = Model.Id }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <label>Selectati rating-ul</label>
        @Html.DropDownList("Rating", Enumerable.Range(1, 5).Select(i => new SelectListItem
                {
                    Text = i.ToString(),
                    Value = i.ToString()
                }), new { @class = "form-control" })

        @Html.LabelFor(m => m.Content, "Continut recenzie")
        <br />
        @Html.TextArea("Content", null, new { @class = "form-control" })
        <br />
        <div class="d-flex justify-content-center">
            <button class="btn btn btn-success" type="submit">Editeaza recenzia</button>
        </div>
    }
</div>

